---
import Testimonials from "@/components/Testimonials.astro";
import ContactUs from "@/components/ContactUs.astro";
import BaseHead from "@/components/BaseHead.astro";
import Hero from "@/components/Hero.astro";
import Services from "@/components/Services.astro";
import Methodology from "@/components/Methodology.astro";
import CaseStudies from "@/components/CaseStudies.astro";
import Footer from "../components/Footer.astro";
import LoadingScreen from "../components/LoadingScreen.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import MainLayout from "../layouts/Layout.astro";
---

<MainLayout>
  <main>
    <!-- Hero Section -->
    <Hero />
    <!-- Services Section -->
    <Services />
    <!-- Case Studies Section -->
    <CaseStudies />
    <!-- Methodology Section -->
    <Methodology />
    <!-- Testimonials Section -->
    <!-- <Testimonials /> -->
    <!-- Contact Us Section -->
    <!-- <ContactUs /> -->
  </main>

  <style>
    @keyframes wiggle {
      0%,
      100% {
        transform: rotate(35deg) translateY(0px) translateX(0px);
      }
      10% {
        transform: rotate(40deg) translateY(-2px) translateX(1px);
      }
      20% {
        transform: rotate(30deg) translateY(1px) translateX(-1px);
      }
      30% {
        transform: rotate(45deg) translateY(-1px) translateX(2px);
      }
      40% {
        transform: rotate(25deg) translateY(2px) translateX(-2px);
      }
      50% {
        transform: rotate(50deg) translateY(-3px) translateX(1px);
      }
      60% {
        transform: rotate(20deg) translateY(1px) translateX(-1px);
      }
      70% {
        transform: rotate(42deg) translateY(-2px) translateX(3px);
      }
      80% {
        transform: rotate(28deg) translateY(2px) translateX(-2px);
      }
      90% {
        transform: rotate(38deg) translateY(-1px) translateX(1px);
      }
    }

    .animate-wiggle {
      animation: wiggle 3s ease-in-out infinite;
    }
  </style>

  <Footer />
</MainLayout>
