---
import Github from "./socialLinks/Github.astro";
import Mastodon from "./socialLinks/Mastodon.astro";
import X from "./socialLinks/X.astro";

const today = new Date();
---

<footer class="bg-black">
  &copy; 2017-{today.getFullYear()} Find 2 Meals Limited. All rights reserved.
  <div class="flex gap-4 items-center">
    <Mastodon />
    <X />
    <Github />
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  
</style>
