---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import Github from "./socialLinks/Github.astro";
import Mastodon from "./socialLinks/Mastodon.astro";
import X from "./socialLinks/X.astro";
---

<header>
  <nav>
    <h2 class="text-gray-700 text-5xl font-bold">
      <a href="/">&lt; F2M &sol;&gt;</a>
    </h2>
    <div class="internal-links">
      <!-- <HeaderLink href="/">Home</HeaderLink> -->
      <HeaderLink href="/case-study">Case Study</HeaderLink>
      <HeaderLink href="/technology">Technology</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <div class="flex gap-4">
      <Mastodon />
      <X />
      <Github />
   
     
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow:
      0 2px 8px rgba(var(--black), 5%),
      0 1px 3px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #f3f4f6;
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    /* border-bottom-color: var(--accent); */
    border-bottom-color: #FDE047;
    /* var(--yellow); */
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
