---

---

<section class="h-screen bg-white grid">
  <div class="max-w-4xl place-self-center px-6">
    <h1
      class="text-center text-4xl md:text-6xl lg:text-7xl font-bold text-black mb-6"
    >
      Transform Ideas
      <span class="relative inline-block">
        <span
          class="absolute -top-15 -right-5 text-4xl md:text-5xl lg:text-6xl transform rotate-[5deg] animate-wiggle"
          >💡</span
        >
      </span> Into<br />
      <a
        href="#"
        class="group text-gray-400 hover:text-yellow-500 transition-all duration-300 inline-block"
      >
        HIGH-IMPACT
        <span
          class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-1 bg-yellow-400"
        >
        </span>
      </a>
      <br />Digital Solutions
    </h1>
    <p
      class="text-gray-600 text-lg md:text-xl lg:text-2xl text-center max-w-3xl mx-auto leading-relaxed font-light"
    >
      Accelerate innovation and grow your business with custom software and app
      development from a trusted partner. Our team turns complex business
      challenges into robust, user-centric digital products.
    </p>
  </div>
</section>
